*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared classes */

ul li{
    list-style-type: none;
}

.padding-25{
    padding-left: 25px;
}

/* header */

/* topbar */

.topbar-logo{
    height: 50px;
}

.header-container{
    height: 70px;
    z-index: 5;
}

.search-bar{
    width: 100%;
}

#search-bar-field{
    width: 100%;
}

.topbar-link{
    color: #000000;
}

.fa-bell{
    color: #FF8C00;
}

/* sidebar */

.side-bar-container{
    padding-top: 70px;
}

.side-bar{
    height: calc(100vh - 70px);
    width: 68px;
    margin-left: -12px;
    background-image: url(../img/sidebar-bg.png);
    color: #FFFFFF;
    background-color: #051E34;
}

.side-bar-hover ul li:hover{
    background-color: #C1C1C1;
}

.search-bar{
    width: 95%;
}

/* main */

/* container boolean */

.main-container{
    padding-left: 56px;
}

.blaze-margin{
    margin-left: 5px;
}

#new-student{
    text-align: left;
}

/* container prossime classi */

.table-ch tr:hover{
    background-color: #E4E4E4;
}

.row-width{
    width: 6rem;
}

.table-icon{
    width: 25px;
    border-radius: 50%;
}

/* container-faq */

.faq-container{
    margin-top: 20px;
}
